frontend/
frontend-react/
PPT/
References/
SampleBuilding_without_contexts/SampleBuilding_final/
SampleBuilding_without_contexts/SampleBuilding_v2/
SampleBuilding_with_contexts/SampleBuilding_with_contexts
SampleBuilding_with_contexts/SampleBuilding_with_contexts_sketchup_modified/
SampleBuilding_with_contexts/SampleBuilding_with_contexts_sketchup_modified_v2/

*.rfa
*.rvt
*.osm
*.skb
*.skp
*.xml
*.dyn
*.epw
*.m4a

# obsidian 폴더 제외
.obsidian/
